@media (min-width: 1024px) {
	.view {
		position: relative;
		margin-top: 10px;
		margin-left: 5vw;
	}
}

@media (max-width: 1024px) {
	.view {
		position: relative;
		margin-top: 10px;
		margin-left: 15vw;
	}
}
