.day {
	margin: 1vh;
	margin-top: 0;
}
.daydisplay {
	display: grid;
	grid-template-rows: auto;
	min-height: 72vh;
	height: fit-content;
	margin: 5px 5px 1vh 5px;
	border: 1px solid black;
	border-radius: 10px;
}
@media (min-width: 1024px) {
	.day {
		margin: 0;
	}
	.daydisplay {
		min-height: 65vh;
		height: fit-content;
		margin-bottom: 1vh;
	}
}
