.menuitem {
	display: grid;
	grid-template-areas:
		"name"
		"price"
		"description";
	grid-template-rows: auto;
	grid-template-columns: auto;
	border: 1px solid black;
	border-radius: 5%;
	width: 225px;
	margin: 5px;

	font-size: 12px;

	.name {
		grid-area: name;
		padding-top: 3px;
		padding-left: 3px;
		padding-right: 3px;
		height: min-content;
		font-size: 16px;
	}
	.price {
		grid-area: price;
		padding-left: 3px;
		padding-right: 3px;
		height: min-content;
	}
	.description {
		grid-area: description;
		padding-left: 3px;
		padding-right: 3px;
		padding-bottom: 3px;
		height: min-content;
	}
}
.menuitem-button-1 {
	position: relative;
	bottom: 0px;
	left: 50px;
}
.menuitem-button-2 {
	position: relative;
	bottom: 0px;
	left: 50px;
}
